{{template "header" .Title}}

<body>
    <script>
        window.onload = function() {
            document.getElementById("wikiedit").onkeydown = function(e) {
                if (e.keyCode == 13 && e.ctrlKey) { // keyCode 13 is Enter
                    document.getElementById("wikisubmit").click(); // submit the form by hitting ctrl + enter
                    // alert(e.keyCode); // to know other keyCodes of each keys
                    return false; // preventing default action
                }
            }
        }
    </script>
    {{template "leftnav" .Nav}}
    <div class="content">
        <h1>Editing {{.Title}}</h1>

        <div class="pure-g">

            <div class="pure-u-15-24" id="editing">
                <div class="l-box">
                    <form id="wikiedit" class="pure-form pure-form-stacked" action="/wiki/save/{{.Title}}" method="POST">
                        <fieldset>
                            <textarea id="wikiedit" class="pure-input-1" rows=20 name="body">{{.Body}}</textarea>
                            <label for="wikitags">
                                Tags <input type="text" id="wikitags" name="wikitags" placeholder="tags comma separated" value="{{.Tags}}">
                            </label>
                            <button id="wikisubmit" type="submit" class="pure-button pure-button-primary">Save</button>
                            <a class="pure-button" href="/wiki/view/{{.Title}}">Cancel</a>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="pure-u-9-24" id="help-table">
                <div class="l-box">
                    <table class="pure-table pure-table-bordered">
                        <thead>
                            <tr>
                                <th>Markdown</th>
                                <th>Markdown</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>*Italic*</td>
                                <td>
                                    <p> * List<br/> * List<br/> * List </p>
                                </td>
                            </tr>
                            <tr>
                                <td>**Bold**</td>
                                <td>
                                    <p> 1. One<br/> 2. Two<br/> 3. Three </p>
                                </td>
                            </tr>
                            <tr>
                                <td># Heading 1 </td>
                                <td> Horizontal Rule<br/> --- </td>
                            </tr>
                            <tr>
                                <td> ## Heading 2 </td>
                                <td> `Inline code` with backticks </td>
                            </tr>
                            <tr>
                                <td> [Link](http://a.com) </td>
                                <td> ```<br/> # code block<br/> print '3 backticks or'<br/> print 'indent 4 spaces'<br/> ``` </td>
                            </tr>
                            <tr>
                                <td> ![Image](http://url/a.png) </td>
                                <td> &gt; Blockquote </td>
                            </tr>
                            <tr>
                                <td> A paragraph.<br/> <br/> A paragraph after 1 blank line.</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/copypaste.js"></script>
</body>

{{template "footer"}}

</html>
