{{template "header" "Wiki"}}

<body>

    <div class="content">
        <h1> Homepage </h1>
        <form class="pure-form" action="wiki/edit/" method="GET">
            <fieldset>
                <legend>Create a new Wiki page</legend>
                <input type="text" name="wword">
                <button type="submit" class="pure-button pure-button-primary">Save</button>
            </fieldset>
        </form>
        </br>
        <form class="pure-form" action="wiki/search/" method="GET">
            <fieldset>
                <legend>Search Wikis</legend>
                <input type="text" name="term">
                <button type="submit" class="pure-button pure-button-primary">Search</button>
            </fieldset>
        </form>
        {{template "footer"}}
    </div>
    {{template "leftnav" .}}

</body>


</html>