
{{define "submenu"}}
	{{if .IsDir}}
	<li class="has-children">
		<input type="checkbox" name="sub-group-{{.Name}}" id="sub-group-{{.Name}}">
		<label for="sub-group-{{.Name}}">{{.Name}}</label>
		<!-- -->
		<ul class="">
			{{range .SubNav}}
			{{template "submenu" .}}
			<!-- -->
			{{end}}
		</ul>
	</li>
	{{else}}
	<li class=""><a href="/wiki/view{{.URL}}" class="">{{.Name}}</a></li>
	{{end}}
{{end}}

{{define "leftnav"}}
<div id="menu">
    <a class="pure-menu-heading" href="/wiki">Wikis</a>
    <ul class="cd-accordion-menu">

		{{range .Wikis}}
			{{template "submenu" .}}
		{{end}}
        <!-- -->
        <!-- -->
        <li class="pure-menu-heading">Tags</li>
        {{range $key, $value := .Tags}}
        <li class="has-children">
            <input class="tag" type="checkbox" name="sub-group-{{$key}}" id="sub-group-{{$key}}">
            <label class="tag-label" for="sub-group-{{$key}}">{{$key}}</label>
            <!-- -->
            <ul class="">
                {{range $value.Wikis}}
                <li class=""> <a href="/wiki/view/{{.}}" class="">{{.}}</a> </li>
                <!-- -->
                {{end}}
            </ul>
        </li>
        {{end}}
    </ul>
</div>

{{end}}
