{{define "leftnav"}}
<!-- -->
<script src="/static/js/modernizr.js"></script>
<!-- Modernizr -->
<div id="menu">
    <a class="pure-menu-heading" href="/wiki">Wikis</a>
    <ul class="cd-accordion-menu">
        {{range $key, $value := .Wikis}}
        <!-- -->
        {{if .IsDir}}
        <li class="has-children">
            <input type="checkbox" name="sub-group-{{$key}}" id="sub-group-{{$key}}">
            <label for="sub-group-{{$key}}">{{$value.Name}}</label>
            <!-- -->
            <ul class="">
                {{range $value.SubNav}}
                <li class=""> <a href="/wiki/view/{{$value.Name}}{{.Name}}" class="">{{$value.Name}}{{.Name}}</a> </li>
                <!-- -->
                {{end}}
            </ul>
        </li>
        {{else}}
        <li class=""><a href="/wiki/view/{{.Name}}" class="">{{.Name}}</a></li>
        {{end}}
        <!-- -->
        {{end}}
        <!-- -->
        <li class="pure-menu-heading">Tags</li>
        {{range $key, $value := .Tags}}
        <li class="has-children">
            <input type="checkbox" name="sub-group-{{$key}}" id="sub-group-{{$key}}">
            <label for="sub-group-{{$key}}">{{$key}}</label>
            <!-- -->
            <ul class="">
                {{range $value.Wikis}}
                <li class=""> <a href="/wiki/view/{{.}}" class="">{{.}}</a> </li>
                <!-- -->
                {{end}}
            </ul>
        </li>
        {{end}}
    </ul>
</div>

{{end}}