{{template "header" "Wiki"}}

<script>
    let basePath = '/wiki/list/';

    (function(history){
		var pushState = history.pushState;
		history.pushState = function(state, title, url) {
			getAndRenderWiki(title)
			return pushState.apply(history, arguments);
		};
    })(window.history);

	async function getWiki(name) {
		let response = await fetch('/api?wiki=' + name).catch(() => {return []})
		if (!response.ok) {
			return []
		}
		return response.json()
	}
	async function getWikiList(name) {
		let response = await fetch('/api?list=' + name).catch(() => {return []})
		if (!response.ok) {
			return []
		}
		return response.json()
	}
    async function getAndRenderWiki(name) {
		let data = await getWikiList(name)
		if (data.length === 0) {
			document.getElementById("wiki").innerHTML = "Unknown Wiki"
			return
		}
		data.map((async name  => {
			let wiki = await getWiki(name)
			// Note that this approach to updating the page will destroy any 
			// event handlers on the element...
			document.getElementById("wiki").innerHTML += renderWiki(wiki)
		}))
		return
    }

    function renderTitle(data) {
		return '<a href="/wiki/view/' + data +'">' + data + '</a>'
    }
    function renderElement(data) {
		return '<div>' + data + '</div>'
    }
    function renderWiki(data) {
		return '<div>' + 
			renderTitle(data.Title) + 
			renderElement(data.Body) + 
			renderElement(data.Modified) + 
			'</div>'
    }
    function updateURL(that) {
        let name = that.wikiName.value
		document.getElementById("wiki").innerHTML = ''
        window.history.pushState('listpage', name, basePath + name);
        return false
    }
    function onload() {
        if (location.pathname.startsWith(basePath)) {
            let name = location.pathname.substring(basePath.length, location.pathname.length)
            if (name.length > 0) {
				getAndRenderWiki(name)
            }
        }
    }

</script>

<body onload='onload()'>

    {{template "leftnav" .}}
    <div class="content">
        <h1> List </h1>
        <!-- -->
    <form onsubmit="return updateURL(this)">
        Wiki: <input type="text" name="wikiName">
        <button>Submit</button>
    </form>
    <p id="wiki"></p>
        {{template "footer"}}
    </div>
</body>


</html>
