{{template "header" "Wiki"}}

<body>

    <div class="content">
        <h1>Login</h1>
        <form class="pure-form" action="/login/" method="POST">
            <fieldset>
                <legend>Login</legend>
                <label>Username</label>
                <input type="text" name="username">
                <label>Password</label>
                <input type="password" name="password">
                <button type="submit" class="pure-button pure-button-primary">Login</button>
            </fieldset>
        </form>
    </div>

</body>

</html>