
{{define "todolist"}}
	{{if .IsDir}}
	<li class="has-children">
		<input type="checkbox" name="todo-group-{{.ID}}" id="todo-group-{{.ID}}">
		<label for="todo-group-{{.ID}}">{{.Name}}</label>
		<!-- -->
		<ul class="">
			{{range .SubNav}}
			{{template "todolist" .}}
			<!-- -->
			{{end}}
		</ul>
	</li>
	{{else}}
	<li class=""><a href="/wiki/view{{.URL}}" class="">{{.Name}}</a>
		<p>{{.Summary}}</p>
	</li>
	{{end}}
{{end}}

{{template "header" "Wiki"}}

<body>


    <div class="content">
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" placeholder="What needs to be done?" autofocus>
			</header>
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list"></ul>
			</section>
			<footer class="footer">
				<span class="todo-count"></span>
				<ul class="filters">
					<li>
						<a href="#/" class="selected">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<button class="clear-completed">Clear completed</button>
			</footer>
		</section>

        {{template "footer"}}
    </div>
    {{template "leftnav" .}}


	<script src="/static/js/todo/base.js"></script>
	<script src="/static/js/todo/helpers.js"></script>
	<script src="/static/js/todo/store.js"></script>
	<script src="/static/js/todo/model.js"></script>
	<script src="/static/js/todo/template.js"></script>
	<script src="/static/js/todo/view.js"></script>
	<script src="/static/js/todo/controller.js"></script>
	<script src="/static/js/todo/app.js"></script>
</body>

</html>
