{{template "header" .Title}}

<body>
    {{template "leftnav" .Nav}}

    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_CHTML">
    </script>
    <div class="content">

        <section>
            <a id="top-edit" class="pure-button pure-button-primary" href="/wiki/edit/{{.Title}}">edit</a>
            <p>
                <div class="wikiBody">{{.Body}}</div>
            </p>
            <p> Modified {{.Modified}}</p>

            <div class="tags">
                <p>
                    {{range .TagArray}}
                    <div class="wikitag">{{.}}</div>
                    {{end}}
                </p>
            </div>
            <a class="pure-button pure-button-primary" href="/wiki/edit/{{.Title}}">edit</a>
        </section>
        {{template "footer"}}
    </div>
</body>

</html>