{{template "header" .Title}}

<body>
    {{template "leftnav" .Nav}}

    <div class="content">

        <section>
            <p>
                <div class="wikiBody">{{.Body}}</div>
            </p>
            <p> Modified {{.Modified}}</p>

            <div class="tags">
                <p>
                    {{range .TagArray}}
                    <div class="wikitag">{{.}}</div>
                    {{end}}
                </p>
            </div>
            <a class="pure-button pure-button-primary" href="/edit/{{.Title}}">edit</a>
        </section>
        {{template "footer"}}
    </div>
</body>

</html>