
body, input, textarea, legend {
    background: #191818;
    color: #777;
}

a {
	color: #1f8dd6
}

.pure-form legend {
    color: #777;
}

	

.wikiBody {
    padding: 5px;
    text-align: justify;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
}

#editbutton, #deletebutton {
	display: inline-block;
}

.wikitag {
    background: #9d99bf;
    padding: 8px;
	margin-right: 3px;
    display: inline-block;
	border-radius: 3px;
}

.wikiBody img {
    width: 80%;
    height: auto;
}

table {
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

th {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA no-repeat;
}

td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: aliceblue no-repeat;
}

#top-edit {
    float: right;
}

.form-error {
    color: #d45252;
}

p {}

li {
    font-size: 0.9em;
}

th {
    font-size: 1.0em;
    font-weight: bold;
}

h1 {
    font-size: 1.3em;
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
}

blockquote {
    border-left: 5px solid #ccc
}
