body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


/*
Add transition to containers so they can push in and out.
*/

#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


/*
This is the parent `<div>` that contains the menu and the content area.
*/

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

#layout.active #menu {
    left: 150px;
    width: 150px;
}

#layout.active .menu-link {
    left: 150px;
}


/*
The content `<div>` is where all your content goes.
*/

.content {
    margin: 0 auto;
    padding: 0 2em;
    margin-left: 160px;
    margin-bottom: 50px;
    line-height: 1.4em;
}

.header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}

.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}

.header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}


/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    /* margin-left: -150px; */
    /* "#menu" width */
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}


/*
    All anchors inside the menu should be styled like this.
    */


/*
    Remove all background/borders, since we are applying them to #menu.
    */

#menu .pure-menu,
#menu .pure-menu ul {
    border: none;
    background: transparent;
}


/*
    Add that light border to separate items into groups.
    */

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
}


/*
        Change color of the anchor links on hover/focus.
        */

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background: #333;
}


/*
    This styles the selected menu item `<li>`.
    */

#menu .pure-menu-selected,
#menu .pure-menu-heading {
    background: #1f8dd6;
}


/*
        This styles a link within a selected menu item `<li>`.
        */

#menu .pure-menu-selected a {
    color: #fff;
}


/*
    This styles the menu heading.
    */

#menu .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0;
}
#menu .pure-menu-subheading {
    font-size: 110%;
    color: #fff;
    margin: 0;
}


/* -- Dynamic Button For Responsive Menu -------------------------------------*/


/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/


/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/

.menu-link {
    position: fixed;
    display: block;
    /* show this only on small screens 
    top: 0;*/
    left: 0;
    /* "#menu width" */
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

.menu-link:hover,
.menu-link:focus {
    background: #000;
}

.menu-link span {
    position: relative;
    display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}

.menu-link span:after {
    margin-top: 0.6em;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

@media (max-width: 48em) {
    .content {
        padding-left: 2em;
        padding-right: 2em;
        margin-left: 0px;
        margin-right: 0px;
        font-size: small;
    }
    #help-table {
        visibility: hidden;
    }
    #menu {
		position: unset;
		width: 100%;
    }
    #editing {
        width: 110%;
    }
}

@media (max-width: 30em) {
    .content {
        padding-right: 2em;
    }
    #editing {
        width: 110%;
    }
}


/* -------------------------------- 

Primary style

-------------------------------- */

.cd-accordion-menu body {
    font-size: 1.6rem;
    font-family: "Jaldi", sans-serif;
    color: #ffffff;
    background-color: #a0f6aa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-accordion-menu a {
    color: #a0f6aa;
    text-decoration: none;
}

.cd-accordion-menu h1 {
    text-align: center;
    width: 90%;
    margin: 2em auto 0;
    font-size: 2.4rem;
    color: #507b55;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    .cd-accordion-menu h1 {
        font-size: 3.2rem;
    }
}

.cd-accordion-menu input {
    font-family: "Jaldi", sans-serif;
    font-size: 1.6rem;
}

.cd-accordion-menu ol {
    list-style: none;
}

.cd-accordion-menu ul {
    list-style: none;
}


/* -------------------------------- 

Main Components 

-------------------------------- */

.cd-accordion-menu {
    width: 100%;
    margin-left: -40px;
    overflow-wrap: break-word;
}

.cd-accordion-menu ul {
    /* by default hide all sub menus */
    display: none;
    padding-left: 10px;
}

.cd-accordion-menu li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cd-accordion-menu input[type=checkbox] {
    /* hide native checkbox */
    position: absolute;
    opacity: 0;
}

.cd-accordion-menu label,
.cd-accordion-menu a {
    border: none;
    position: relative;
    display: block;
    padding: 0.6em 0 0.6em 0.6em;
    /* background: #4d5158; */
    box-shadow: inset 1 -1px #555960;
    color: #999;
    font-size: 0.6rem;
}

.no-touch .cd-accordion-menu label:hover,
.no-touch .cd-accordion-menu a:hover {
    background: #52565d;
}

.cd-accordion-menu label::before,
.cd-accordion-menu label::after,
.cd-accordion-menu a::after {
    /* icons */
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cd-accordion-menu label {
    cursor: pointer;
}


/*
.cd-accordion-menu label::before,
.cd-accordion-menu label::after {
    background-image: url(../img/cd-icons.svg);
    background-repeat: no-repeat;
}
*/

.cd-accordion-menu label::before {
    /* arrow icon */
    left: 18px;
    background-position: 0 0;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
}

.cd-accordion-menu label::after {
    /* folder icons */
    left: 41px;
    background-position: -16px 0;
}


/* image icon */


/*
.cd-accordion-menu a::after {
    left: 36px;
    background: url(../img/cd-icons.svg) no-repeat -48px 0;
}
*/

.cd-accordion-menu input[type=checkbox]:checked+label::before {
    /* rotate arrow */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cd-accordion-menu input[type=checkbox]:checked+label::after {
    /* show open folder icon if item is checked */
    background-position: -32px 0;
}

.cd-accordion-menu input[type=checkbox]:checked+label+ul,
.cd-accordion-menu input[type=checkbox]:checked+label:nth-of-type(n)+ul {
    /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
    /* show children when item is checked */
    display: block;
}

.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
    /* background: #35383d; */
    /* This was used to be a line around an entry in the menu...didn't like it...
	 * box-shadow: inset 0 -1px #41444a; (/)
    /* padding-left: 82px; */
}

.no-touch .cd-accordion-menu ul label:hover,
.no-touch .cd-accordion-menu ul a:hover {
    background: #3c3f45;
}

.cd-accordion-menu>li:last-of-type>label,
.cd-accordion-menu>li:last-of-type>a,
.cd-accordion-menu>li>ul>li:last-of-type label,
.cd-accordion-menu>li>ul>li:last-of-type a {
    box-shadow: none;
}

.cd-accordion-menu ul label::before {
    left: 36px;
}

.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
    left: 59px;
}

.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
    padding-left: 10px;
}

.cd-accordion-menu ul ul label::before {
    left: 54px;
}

.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a::after {
    left: 77px;
}

.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
    padding-left: 20px;
}

.cd-accordion-menu ul ul ul label::before {
    left: 72px;
}

.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a::after {
    left: 95px;
}

@media only screen and (min-width: 600px) {
    .cd-accordion-menu label,
    .cd-accordion-menu a {
        padding: 0.6em 0 0.6em 0.6em;
        font-size: 0.9rem;
    }
    .cd-accordion-menu label::before {
        left: 24px;
    }
    .cd-accordion-menu label::after {
        left: 53px;
    }
    .cd-accordion-menu ul label::before {
        left: 48px;
    }
    .cd-accordion-menu ul label::after,
    .cd-accordion-menu ul a::after {
        left: 77px;
    }
    .cd-accordion-menu ul ul label,
    .cd-accordion-menu ul ul p,
    .cd-accordion-menu ul ul a {
        padding-left: 20px;
    }
    .cd-accordion-menu ul ul label::before {
        left: 72px;
    }
    .cd-accordion-menu ul ul label::after,
    .cd-accordion-menu ul ul a::after {
        left: 101px;
    }
    .cd-accordion-menu ul ul ul label,
    .cd-accordion-menu ul ul ul a {
        padding-left: 45px;
    }
    .cd-accordion-menu ul ul ul label::before {
        left: 96px;
    }
    .cd-accordion-menu ul ul ul label::after,
    .cd-accordion-menu ul ul ul a::after {
        left: 125px;
    }
}

.cd-accordion-menu.animated label::before {
    /* this class is used if you're using jquery to animate the accordion */
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cd-accordion-menu label {
	font-weight: bold;
}
